<div class="main-container" >

  <h2>Estadisticas</h2>
  <main>

    <div class="card">
      <div class="header-card">
        <img class="barras" src="{{grafico1}}" alt="Grafico 1">
      </div>
      <div class="body-card">
        <p>
          Lorem ipsum dolor sit amet consectetur
          alias ad facere magnam unde libero at quos!
        </p>
      </div>
    </div>

    <div class="card">
      <div class="header-card">
        <img class="barras" src="{{grafico2}}" alt="Grafico 2">
      </div>
      <div class="body-card">
        <p>
          Lorem ipsum dolor sit amet consectetur
          alias ad facere magnam unde libero at quos!
        </p>
      </div>
    </div>
  </main>

</div>
