
<!-- {{ datosChat | json }} -->
<div class="main-container">

  <div class="container-contacto" > <!-- Formulario de contacto -->
    <h3>Formulario de envio</h3>
    <form [formGroup]="objContactoForm" (ngSubmit)="onSubmit2()" novalidate>
      <div class="component-form">
        <input type="text" formControlName="nombre"
                name="nombre" id="nombre1"
                (click)="validaClick(1)"
                (blur)="validaBlur(1)" required>
        <label for="nombre1"
            [ngClass]="{'subeLbl': focusInput === true,
                        'bajaLbl': focusInput === false}">Nombre</label>
      </div>
      <!--
      <div class="component-form">
        <textarea name="mensaje" id="mensaje"
        formControlName="mensaje" placeholder=" mensaje"
        cols="30" rows="10" ></textarea>
      </div>  -->
      <div class="component-form">
        <button class="btnSend" [disabled]="!objContactoForm.valid">
          <span *ngIf="objContactoForm.valid">{{ txtBtnChatD }}</span>
          <span *ngIf="!objContactoForm.valid">{{ txtBtnChatB }}</span>
        </button>
      </div>
    </form>
  </div>

  <!-- Chat de contacto -->
  <div class="container-chat">
    <h3>Chat</h3>
    <!--
    <div id="chat" class="ventana-chat">
    </div>   Ventana de chat (debe ser una tabla) -->

    <div class="container-table">
      <div class="wrap-card-chat-yo" *ngFor="let item of datosChat"
        [ngClass]="{'move-end': item.nombre === 'yo'}" >
        <div class="card-chat-yo">
          <p>
            <strong>{{ item.nombre }}:</strong> {{ item.mensaje }}
          </p>
        </div>
      </div>
    </div>

    <div class="container-form-chat">
      <!-- Formulario de chat -->
      <form [formGroup]="objChatForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="component-form">
          <input type="text" formControlName="nombre"
                name="nombre" id="nombre2"
                (click)="validaClick(2)"
                (blur)="validaBlur(2)" required>
          <label for="nombre2"
            [ngClass]="{'subeLbl': focusInput2 === true,
                        'bajaLbl': focusInput2 === false}">Nombre</label>
        </div>
        <div class="component-form">
          <input type="text" formControlName="mensaje"
                name="mensaje" id="campoTexto2"
                (click)="validaClick(3)"
                (blur)="validaBlur(3)" required>
          <label for="nombre2"
            [ngClass]="{'subeLbl': focusInput3 === true,
                        'bajaLbl': focusInput3 === false}">Mensaje</label>
        </div>
        <div class="component-form">
          <button class="btnSend" [disabled]="!objChatForm.valid">
          <span *ngIf="objChatForm.valid">{{ txtBtnChatD }}</span>
          <span *ngIf="!objChatForm.valid">{{ txtBtnChatB }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="redes-sociales">
    <div class="icono-redes">Icono-Youtube</div>
    <div class="icono-redes">Icono-Twitter</div>
    <div class="icono-redes">Icono-Facebook</div>
  </div>

  <div class="numeros-contacto" >
    <div class="icono-numeros">Whatsapp</div>
    <div class="icono-numeros">Celular</div>
    <div class="icono-numeros">Fijo</div>
  </div>
</div>
