
<!-- {{ datosChat | json }} -->
<div class="main-container">

  <div class="container-contacto" >
    <h3>Formulario de envio</h3>
    <!-- Formulario de contacto -->
    <form [formGroup]="objContactoForm" (ngSubmit)="onSubmit2()" novalidate>
      <div class="component-form">
        <input type="text" formControlName="nombre"
        name="nombre" id="nombre1" placeholder=" Nombre" required>
      </div>
      <div class="component-form">
        <textarea name="mensaje" id="mensaje"
        formControlName="mensaje" placeholder=" mensaje"
        cols="30" rows="10" ></textarea>
      </div>
      <div class="component-form">
        <button class="btnSend" [disabled]="!objContactoForm.valid">Enviar</button>
      </div>
    </form>
  </div>

  <div class="container-chat">
    <h3>Chat</h3>
    <!--
    <div id="chat" class="ventana-chat">
    </div>   Ventana de chat (debe ser una tabla) -->

    <div class="container-table">
      <div class="wrap-card-chat-yo" *ngFor="let item of datosChat"
        [ngClass]="{'move-end': item.nombre === 'yo'}" >
        <div class="card-chat-yo">
          <p>
            <strong>{{ item.nombre }}:</strong> {{ item.mensaje }}
          </p>
        </div>
      </div>
    </div>

    <div class="container-form-chat">
      <!-- Formulario de chat -->
      <form [formGroup]="objChatForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="component-form">
          <input type="text" formControlName="nombre"
                name="nombre" id="nombre2" placeholder=" Nombre" required>
        </div>
        <div class="component-form">
          <input type="text" formControlName="mensaje" placeholder=" Mensaje"
                name="mensaje" id="campoTexto2" required>
        </div>
        <div class="component-form">
          <button class="btnSend" [disabled]="!objChatForm.valid">Send</button>
        </div>
      </form>
    </div>
  </div>

  <div class="redes-sociales">
    <div class="icono-redes">Icono-Youtube</div>
    <div class="icono-redes">Icono-Twitter</div>
    <div class="icono-redes">Icono-Facebook</div>
  </div>

  <div class="numeros-contacto" >
    <div class="icono-numeros">Whatsapp</div>
    <div class="icono-numeros">Celular</div>
    <div class="icono-numeros">Fijo</div>
  </div>
</div>
