<!-- {{loginForm.status}}
{{ getError('email') }}
{{ getError('password') }} -->
<div class="main-container">

  <div class="form-container" >
    <div class="icono">
      Y
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="validar()" >
    <div >
      <input type="email" name="email" id="email" formControlName="email" placeholder="Email" required >
      <div *ngIf="getError('email')"
            [ngClass]="{ 'invalid-feedback': getError('email') }">
            <span>{{ getError('email')}}</span>
      </div>
    </div>

    <div >
      <input type="password" name="password" id="pass" formControlName="password" placeholder="Password" required>
      <div *ngIf="getError('password')"
            [ngClass]="{ 'invalid-feedback': getError('password') }">
            <span>{{ getError('password')}}</span>
      </div>
    </div>
    <div >
      <button class="" type="submit" [disabled]='!loginForm.valid'>Iniciar</button>
    </div>
    </form>
  </div>

</div>

