*{
  box-sizing: border-box;
  margin: 0;
  color: #0e77f0;
  /* color: rgb(170, 170, 170); */
  font-size: 12px;
}

.main-container {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: block;
  padding: 0 5px;
}

.header-container {
  width: 97%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 5px;
}

.nav-bar-casos {
  width: 100%;
  border-radius: 4px;
  padding: 5px 2px;
}

.nav-bar-casos .btn-nav button {
  width: 50px;
  border: 1px #a5cdfa solid;
  background-color: #a5cdfa;
  outline-color: #70b3ff;
  cursor: pointer;
}

.table-container {
  width: 100%;
  overflow: auto;
  border: 1px #a5cdfa solid;
  border-radius: 4px;
  padding: 5px 0;
}

table {
  font-size: 12px; width: 100%;
}
table thead {
  text-align: center;
}

table tbody tr th,
table tbody tr td { color: rgb(70, 70, 70); padding: 3px; }
table tbody tr th { text-align: right; }
table tbody tr td { text-align: center; }

.par { background-color: rgba(243, 125, 233, 0.404); }
.impar { background-color: rgb(188, 205, 252); }

.footer {
  width: 100%;
  border: 1px rgb(90, 175, 255) solid;
  border-radius: 4px;
  padding: 5px 0;
  margin: 5px 0;
  background-color: rgb(162, 210, 255);
}

.footer .redes {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .redes:first-child,
.footer .redes:nth-child(2) {
  border-bottom: 1px rgb(90, 175, 255) solid;
}

/***********************/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.342);

  justify-content: center;
  align-items: center;
  display: none;
  overflow: auto;
}
.t {
  display: flex;
}

.card-modal {
  display: block;
  width: 90%;
  /* height: 150px; */
  height: auto;
  background-color: rgba(0, 0, 0, 0.678);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 10px 6px -4px #000000a8;
}

.header-card {
  width: 100%;
  height: 20px;
  display: flex;
  /* border: 1px #bebebe solid; */
}

.title-header {
  width: 100%;
  padding-left: 5px;
  display: flex;
  align-items: center;
  color: white;
}

.title-header h3 {
  font-size: 15px;
  color: #cce4ff;
}

.btn-close {
  width: 30px;
  padding-right: 5px;
}

.btn-close button {
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgb(255, 24, 24);
  color: white;
}

.body-card {
  width: 100%;
  height: calc(100% - 30px);
  padding: 10px;
}
.group-form {
  width: 100%;
  margin-bottom: 25px;
}

.group-form input[type='text'] { width: 100%; }

.group-form span { color: #cce4ff; }

.group-form:nth-child(3) {
  position: relative;
  height: 20px;
  font-size: 12px;
}

.group-form:nth-child(3) label {
  position: absolute;
  left: 5px;
  transition: transform .3s linear;
}

.group-form:nth-child(3) input {
  outline: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px #0e77f0 solid;
  background-color: transparent;
  padding-left: 5px;
  color: #cce4ff;
}
.subeLbl {
  transform: translateY(-16px);
  font-size: 10px;
}

.bajaLbl {
  transform: translateY(0);
  font-size: 12px;
}

.group-form:nth-child(4) {
  display: flex;
  align-items: center;
  height: 22px;
}

.group-form:nth-child(4) label { margin-right: 5px; }

.btn-modal {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-modal button:first-child,
.btn-modal button:last-child {
  border: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  color: white;
}

.btn-modal button:first-child {
  outline-color: rgba(250, 98, 98, 0.884);
  background-color: rgba(248, 34, 34, 0.884);
  margin-right: 5px;
}

.btn-modal button:last-child {
  outline-color: rgb(177, 165, 3);
  background-color: rgb(212, 198, 0);
  margin-left: 5px;
}

