<div class="main-container">

  <div class="header-container" >
    <h3>Listado de casos</h3>
  </div>
  <!-- {{toogle}} -->
  <div class="nav-bar-casos">
    <div class="btn-nav">
      <button (click)="abreModal()"  > + </button>
    </div>
    <div *ngIf="nuevo > 0">{{nuevo}}</div>
  </div>

  <!-- Datos: {{ datos | json }} -->
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID caso</th>
          <th>Estado</th>
          <th>Creacion</th>
          <th>Resp.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datos index as i;"
          [ngClass]="{'par': i % 2 == 0, 'impar': !(i % 2 == 0) }"
          (click) = "getRow(item)" >
          <th>{{ item.id }}</th>
          <td>{{ item.estado }}</td>
          <td>{{ item.creacion }}</td>
          <td>{{ item.resp }}</td>
        </tr>
        <!-- <ng-template #name>No hay datos</ng-template> -->

      </tbody>
    </table>
  </div>
  <div class="no-data" *ngIf="!datos"> No hay datos </div>

</div>

<!-- Footer -->
<app-footer></app-footer>

<!-- Ventana Modal -->
<div class="modal" [ngClass]="{'t': toogle}">
  <div class="card-modal">
    <div class="header-card">
      <div class="title-header">Encabezado Modal</div>
      <div class="btn-close">
        <button (click)="cierraModal()">x</button>
      </div>
    </div>
    <div class="body-card">

      <form novalidate [formGroup]="objFb" (ngSubmit)="guardar()">
        <div class="group-form">
          <input class="input-new-caso" type="text" name="resp"
            formControlName="resp"
            (click)="focusInput = true"
            (blur)="validaBlur(1)"
            id="resp-new">
          <label for="resp-new"
            [ngClass]="{'subeLbl': focusInput === true,
                        'bajaLbl': focusInput === false}">
            Responsable:</label>
        </div>
        <!-- {{ objFb.get('resp').value }} -->
        <div class="btn-modal">
          {{this.getError()}}
          <button type="submit" [disabled]="!objFb.valid"
           [ngClass]="{'disabled-btn': !objFb.valid,
                        'enabled-btn': objFb.valid}" >Save</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Ventana modal Selecciona registro -->
<div class="modal" [ngClass]="{'t': toogle2}">
  <div class="card-modal">
    <div class="header-card">
      <div class="title-header"> <h3>Registro Seleccionado</h3> </div>
      <div class="btn-close">
        <button (click)="toogle2 = !toogle2">x</button>
      </div>
    </div>
    <div class="body-card">

      <form novalidate [formGroup]="objFbSelReg" (ngSubmit)="guardarCambios()">
        <div class="group-form">
          <input type="hidden" name="id" id="id"
            formControlName="id" required>
          <label for="resp">ID Caso: <span>{{ numeroDeCaso }}</span> </label>
        </div>
        <div class="group-form">
          <label for="resp">Creacion: <span>{{ fechaCreacion }}</span> </label>
        </div>
        <div class="group-form">
          <input class="input-sel-reg" type="text" name="resp" id="nombre"
            formControlName="resp"
            (click)="focusInput = true"
            (blur)="validaBlur(2)" >
          <label for="nombre"
          [ngClass]="{'subeLbl': focusInput === true,
                      'bajaLbl': focusInput === false}">
          Responsable:</label>
        </div>

        <div class="group-form">
          <!-- <label for="check-edit" >EDITAR</label> -->
          <span>{{ txtBtn }}</span>
          <input type="checkbox" formControlName="check"
            name="check" id="check-edit"
            [checked]="false" (change)="habilitaCampo()" >
        </div>

        <!-- {{ objFbSelReg.valid }} -->
        <div class="btn-modal">
          <button class="btn-borrar">Borrar</button>
          <button type="submit" [disabled]="!objFbSelReg.valid"
            [ngClass]="{'disabled-btn': !objFbSelReg.valid,
                        'enabled-btn': objFbSelReg.valid}"> Guardar </button>
          <!-- {{this.getError()}} -->
          <!-- <button type="submit" [disabled]="!objFb.valid" >Save</button> -->
        </div>
      </form>
      <!-- {{ objFbSelReg.valid }} -->
    </div>
  </div>
</div>
