<div class="main-container">

  <nav class="menu">
    <input type="checkbox" name="" id="check">
    <label for="check" class="checkbtn" >Menu</label>

    <label for="" class="logo">Logo X</label>
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Clientes</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>

  <section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus error
    placeat quo quam ducimus. Laboriosam est fugit at, ipsa, soluta temporibus non
    aperiam quisquam ducimus molestias ex consequuntur voluptas aliquid?
  </section>

  <!-- <div class="main-nav toogle">
    <a href="#home" class="active ">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="#about">About</a>
  </div> -->

</div>
