<div class="main-container">

  <nav class="menu">
    <input type="checkbox" name="" id="check">
    <label for="check" class="checkbtn" >Menu</label>

    <label class="logo">Logo X</label>
    <ul>
      <li><a [routerLink]="['/app/graficos']" routerLinkActive="activo" >Graficos</a></li>
      <li><a [routerLink]="['/app/casos']" routerLinkActive="activo" >Casos</a></li>
      <li><a [routerLink]="['/app/contacto']" routerLinkActive="activo" >Contact</a></li>
      <li><a >Clientes</a></li>
      <li><a >About</a></li>
      <li><a (click)="logout()">Salir</a></li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

</div>
