<div class="main-container">

  <nav class="menu">
    <input type="checkbox" name="" id="check">
    <label for="check" class="checkbtn" >Menu</label>

    <label class="logo">Logo X</label>
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Clientes</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>

  <main>
    <div class="card">
      <div class="header-card">
        <img class="barras" src="./../../assets/img/grafico-das-maiores-populacoes.jpg" alt="">
      </div>
      <div class="body-card">
        <p>
          Lorem ipsum dolor sit amet consectetur
          alias ad facere magnam unde libero at quos!
        </p>
      </div>
    </div>

    <div class="card">
      <div class="header-card">
        <img class="barras" src="./../../assets/img/torta.png" alt="">
      </div>
      <div class="body-card">
        <p>
          Lorem ipsum dolor sit amet consectetur
          alias ad facere magnam unde libero at quos!
        </p>
      </div>
    </div>
  </main>

</div>
