* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  height: 60px;
  width: 100%;
}

.logo { padding-left: 20px; font-size: 25px; }

#check, .checkbtn { display: none; }

nav ul {
  background-color: rgb(230, 173, 208);
  flex-grow: .9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

nav ul li {
  border: 1px rgb(58, 175, 243) solid;
  width: 80px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a { font-size: 17px; color: rgb(41, 37, 37); }

nav ul li a:hover {  background-color: #1b9bff; transition: .9s ease; }

/* Mover a la derecha el boton del menu y el logo a la izquierda */
.checkbtn { font-size: 20px; color: white; cursor: pointer; }

@media screen and (max-width: 953px) {
  .checkbtn { display: block; order: 2; padding-right: 10px; }
  label.logo { padding-left: 10px; font-size: 18px; order: 1; }

  nav ul {
    background-color: #5b789481;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;

    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    border: 1px rgb(164, 220, 253) solid;
    width: 100%;
    height: 80px;
  }

  nav ul li a { font-size: 14px; }
  #check:checked ~ ul { left: 0; }
}


section {
  /* background: url(bg1.jpg) no-repeat; */
  /* background-color: violet; */
  background-size: cover;
  min-height: calc(100vh - 60px);
}
